<a href="https://colab.research.google.com/github/Anshu-Rajpoot/Data-Science/blob/main/Data_Science_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Custom Functions and Built-in Ones

In [17]:
def num_to_str(n):
  return str(n)
def str_to_int(s):
  return int(s)
def str_to_float(f):
  return float(f)

if __name__ =="__main__":

# single line comment
  '''multi line comment'''

  float_num=999.01
  int_num=87
  float_str='23.09'
  int_str='19'
  string="Hi Everyone"

  s_float=num_to_str(float_num)
  s_int=num_to_str(int_num)
  i_str=str_to_int(int_str)
  f_str=str_to_float(float_str)

  print(s_float, " is ", type(s_float))
  print(s_int)
  print(f_str)
  print(i_str)
  str_ls=string.split()
  print(str_ls)
  print(' '.join(str_ls))

999.01  is  <class 'str'>
87
23.09
19
['Hi', 'Everyone']
Hi Everyone

Reading and Writing Data

In [21]:
import csv
def read_txt(f):
  with open(f,'r') as f:
    d=f.readlines()
    return[x.strip() for x in d]

def conv_csv(t,c):
  data=read_txt(t)
  with open(c,'w', newline='') as csv_file:
    writer=csv.writer(csv_file)
    for line in data:
      ls=line.split()
      writer.writerow(ls)

def read_csv(f):
  content=''
  with open(f,'r') as f:
   reader=csv.reader(f)
   return list(reader)

def read_dict(f,h):
  input_file= csv.DictReader(open(f), fieldnames=h)
  return input_file

def od_to_d(od):
  return dict(od)

if __name__ =="__main__":
  f="sample_data.txt"
  data=read_txt(f)

  print('Text file data sample : ')
  for i, row in enumerate(data):
    if i<3:
      print(row)
  csv_f="sample_data.csv"
  conv_csv(f,csv_f)
  r_csv=read_csv(csv_f)

  print("\ntext to csv sample : ")
  for i, row in enumerate(r_csv):
    if i>3:
      print(row)
  headers=['first','last']
  r_dict=read_dict(csv_f,headers)
  dict_ls=[]

  print("\ncsv to ordered dict sample : ")
  for i,row in enumerate(r_dict):
    r=od_to_d(row)
    dict_ls.append(r)
    if i<3:
      print(row)

  print("\nList of Dictionary elements sample : ")
  for i,row in enumerate(dict_ls):
    if i<3:
      print(row)

Text file data sample :
Name Age City
Alice 25 New York
Bob 30 Los Angeles

text to csv sample :
['David', '28', 'Houston']
['Emma', '27', 'Phoenix']
['Frank', '35', 'San', 'Francisco']
['Grace', '29', 'Seattle']
['Henry', '31', 'Denver']
['Ivy', '26', 'Boston']
['Jack', '32', 'Dallas']
['Kevin', '24', 'Austin']
['Laura', '33', 'San', 'Diego']
['Mike', '36', 'Miami']
['Nancy', '23', 'Atlanta']
['Oscar', '29', 'Portland']
['Paul', '37', 'Las', 'Vegas']
['Quincy', '34', 'Philadelphia']
['Rachel', '28', 'Charlotte']
['Steve', '30', 'Indianapolis']

csv to ordered dict sample :
{'first': 'Name', 'last': 'Age', None: ['City']}
{'first': 'Alice', 'last': '25', None: ['New', 'York']}
{'first': 'Bob', 'last': '30', None: ['Los', 'Angeles']}

List of Dictionary elements sample :
{'first': 'Name', 'last': 'Age', None: ['City']}
{'first': 'Alice', 'last': '25', None: ['New', 'York']}
{'first': 'Bob', 'last': '30', None: ['Los', 'Angeles']}

List Comprehension